.rating-star{
    font-size:25px;
    color:darkorange!important;
   
}


.card-img-top {
    height: 20vw;
   
}
.average{
    margin-left: 10px;
}
#rating-row{
    margin-left: 10px;
}
.rating-button{
    background-color: transparent;
    border: none;
}
* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0 auto; /* Center website */
    max-width: 800px; /* Max width */
    padding: 20px;
}

.heading {
    font-size: 17px;
    margin-right: 20px;
    margin-left: 10px;
}

/* .fa {
    font-size: 20px;
}

.checked {
    color: orange;
}


.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 10px;
}

.right {
    text-align: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}
#input{
    position: relative;
    border-radius: 20px;
    width: 100%;
    height: 3vw;
    background-color: lightblue;
}
#search-button{
   position: absolute;
   border-radius: 20px;
   height: 3vw;
   right: 13vw;
}
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}


@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
    }

    .right {
        display: none;
    }
} */
