<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Вашето мнение е важно!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/rating.jpg" style="border-radius:20px;width: 15vw;margin-bottom:3vw;">
</div>

<nav class="navbar navbar-expand-lg navbar-Dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">RateMe</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link disabled" href="#">Град</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/hotels" >Хотели</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/restaurants">Ресторанти</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Търси</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>