#div-img{
    background: url("../../assets/nature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vw;
    opacity: 0.9;
}

#input{
    position: relative;
    top: 13vw;
    width: 90%;
    border-radius: 20px;
    left: 4vw;
    height: 3vw;;
}
#search-button{
   position: relative;
   border-radius: 20px;
   height: 3vw;
   top: 13vw;
}
h1{
    text-align:center;
    color: darkblue;
    font-weight: bold;
    margin-top: 30px;

}
p{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 17px;
    font-weight: 600;
    color: blueviolet;

}
