<div class="container">
  <div id="div-img">
    <form class="form-inline my-2 my-lg-0">
      <input id="input" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button id="search-button" class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <div>
    <h1>Доверете ни се!</h1>
    <p>Търсите уникално място за вашата почивка или екскурзи, но се притеснявате да рискувате с избора? При нас може да намерите
      желаната информация с гарантирана достоверност.
    </p>
  </div>
 <app-destinations></app-destinations>
</div>